WP_HOST_PORT=8088
WP_DB_NAME=bypilar_wp
WP_DB_USER=bypilar
WP_DB_PASSWORD=change-me
WP_DB_ROOT_PASSWORD=change-me-root
WP_TABLE_PREFIX=wp_
WP_ADMIN_USER=pilar
WP_ADMIN_PASSWORD=change-me-admin
WP_ADMIN_EMAIL=hej@bypilar.dk
PRAXISOS_BASE_URL=https://app.bypilar.dk
PRAXISOS_INTERNAL_URL=http://praxisos_app:3000
WP_SITEURL=https://bypilar.dk
WP_SITENAME="by Pilar"
