WP_HOST_PORT=8088
WP_DB_NAME=bypilar_wp
WP_DB_USER=bypilar
WP_DB_PASSWORD=change-me
WP_DB_ROOT_PASSWORD=change-me-root
WP_TABLE_PREFIX=wp_
WP_ADMIN_USER=pilar
WP_ADMIN_PASSWORD=change-me-admin
WP_ADMIN_EMAIL=hej@bypilar.dk
PRAXISOS_BASE_URL=http://app.bypilar.dk
WP_SITEURL=http://167.233.171.184:8088
WP_SITENAME="by Pilar"
